.fundo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: default;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 600px;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #FFF;
  color: black;
  border-radius: 50px;
  box-shadow: 5px 10px 15px 5px rgba(253, 128, 128, 0.5);
  cursor: default;
  min-width: 1800px;
  width: 90vw;
  height: 80vh;
}
.form {
  margin: 10px;
}
.cabeca{
  display:flex;
  margin-bottom: 50px;
  justify-content: space-between;
}