.button {
    padding: 5px 30px 5px 5px;
    border: 0;
    /* background-color:#FD8008;
    color: #000; */
    background-color:#FD8008;
    color: #000;   
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    transition-duration: 500ms;
    margin-left: 10px;
    vertical-align: middle; 
}

.button:hover {
    background-color:#f7b577;
    color: #000;
}

.button:disabled {
    background-color:#9C9C9C;
    color: #C9C9C9;
}