.item{
    display:flex;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 1rem; 
    align-items: center;
}

.item:hover{
    background-color: #c0c0c0;
}

.item::selection{
    background-color: #c0c0c0;
}

.red{
    color: #F00;
}


.listItem{
    /* width: 100%; */
    padding-left: 50px;
}

.descricao{
    width: 100%;
    padding-left: 0px;
    text-align: left;
    cursor: default;
}
/* .descricao:hover{
    background-color: #f9c070;
} */

.teste {
    padding:  10px 30px;
    border: 0;
    background-color:#FD8008;
    color: #000;
    font-size: inherit;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.azul{
    background-color: aqua;
}
.linha {
    display: flex;
}
.coluna {
    flex: auto ;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-top: none;
    border-right: none;
    overflow: hidden;
    padding: 0 5px 0 5px;
    font-size: 1rem;
}

.scrollContainer {
    overflow-x: auto;
    overflow-y: auto;
    flex: auto ;   
    padding: 20px 20px 20px 20px;
}
.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeIrmao{
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 15px;
    vertical-align: middle;
}
.iconeIrmao:hover{
    background-color: #85f5b7;
}

.iconeFilho{
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.iconeFilho:hover{
    background-color: #85f5b7;
}


.iconeEdicao{
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.iconeEdicao:hover{
    background-color: #f9c070;
}

.iconeExclusao{
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 15px;
    vertical-align: middle;
}
.iconeExclusao:hover{
    background-color: #f9c070;
}

.iconePai{
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    vertical-align: middle;
}
.iconePai:hover{
    background-color: #f9c070;
}
.iconeItem{
    padding: 0 5px 0 5px;
    font-size: 1.2rem;
    margin-right: 5px;
    margin-left: 15px;
    vertical-align: middle;
}

.desabilitado{
    pointer-events: none;
    opacity: 0.3;
}