.teste {
    padding:  10px 30px;
    border: 0;
    background-color:#FD8008;
    color: #000;
    font-size: inherit;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.azul{
    background-color: aqua;
}
.linha {
    display: flex;
}
.coluna {
    flex: auto ;
    /* width: 15%; */
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-top: none;
    border-right: none;
    overflow: hidden;
    padding: 0 5px 0 5px;
    font-size: 1rem;
}

.scrollContainer {
    overflow-x: scroll;
    scroll-behavior: auto;
}
.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    /* font-size: 5em; */
}