.etapas{
    display:flex;
    height: 100%;
    padding: 10px;
}

.itensLista{
    height: 440px;
    overflow-x: scroll;
    overflow-y: none;
}
/* LINHA ABAIXO DA GRID ETAPA 1 */
.arquivo{
    display:flex;
    position: row;
    height: 50px;
    padding: 5px;
}
/* LINHA ACIMA DA GRID ETAPA 2 */
.linhaTopo{
    display: flex;
    direction: row;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 5px;
}

.tabela{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #F2F2F2;
    table-layout: fixed;
}

.tabela th{
    position: sticky;
    top: 0px;
    color: #000;
    background-color: #FD8008;
    height: 50px;
}

.tabela tr{
    height: 40px;
}

.tabela tr:nth-child(odd){
    background-color:  #A1A1A1
}
.tabela tr:nth-child(even){
    background-color: #FFF;
}
.tabela tr:hover{
    background-color: rgb(233, 147, 35);
}
.tabela td{
    color: #000;
    white-space: nowrap;
    padding: 2px 10px 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.inputHide {
    display:none;
}

.selecao{
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    display: block;
    margin: 3px;
}

.botaoFile{
    padding: 5px 5px;
    width: 20%;
    height: 40px;
    background-color:#FD8008;
    color: #000;
    display: block;
    margin: 3px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 500ms;
}

.botaoFile:hover{
    background-color:#f7b577;
    color: #000;
}

.botaoFile:disabled{
    background-color:#4C4C4C;
    color: #F2F2F2;
}

.inputNomeArquivo{
    width: 80%;
    height: 40px;
    padding: 5px 5px;
    display: block;
    margin: 3px;
}
.texto {
    padding: 5px;
    color: #000000;
}
.red{
    cursor: pointer;
    padding: 5px;
    background-color: #FF5555;
}
.red:hover{
    background-color: #FAFAFA;
}
.green{
    cursor: pointer;
    padding: 5px;
    background-color: #99FF99;
}
.green:hover{
    background-color: #FAFAFA;
}

.yellow{
    cursor: pointer;
    padding: 5px;
    background-color: #EEEE88;
}
.yellow:hover{
    background-color: #FAFAFA;
}
.gray{
    cursor: pointer;
    padding: 5px;
    background-color: gray;
}
.gray:hover{
    background-color: #FAFAFA;
}



.label{
    font-weight: bold;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px;
  }

  .selecaoTodos{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 5px;
  }
  .controle{
    display: flex;
    font-size: 1rem;
    margin: 0 50px 5px 0;
  }