.corpo{
    display: flex;
    border: 10px solid #FD8008;
    box-shadow: 15px 15px 25px rgba(253, 50, 8, 0.5);
    max-height: 65vh;
    padding: 40px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 50px;
}
.ladoE{
    flex: 0 1 auto;
    width: 75%;
    padding: 5px;
}
.ladoD{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    width: 25%;
    padding: 5px;
    align-self: center;
    justify-content: center;
}
.emLinha{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexItem1{
    flex: 1;
}
.label{
    font-weight: bold;
    margin-bottom: 5px;
}
.input{
    width: 100%;
    padding: 3px 6px;
    font-size: 1em;
    height: 40px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
.comentario{
    width: 100%;
    padding: 3px 6px;
    font-size: 1em;
    height: 120px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px; 
}
.controle{
    padding: 20px;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.etapas{
    padding: 10px;
    height: 85%;
}

.select{
    display: block;
    width: 100%;
    padding: 3px 6px;
    font-size: 1em;
    height: 50px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Classes para configura o seleção de 
multiplicação dos itens da lista */
.multLista{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #f8dfc8;
}
.input2{
    width: 80%;
    padding-left: 10px;
    font-size: 1em;
    height: 40px;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
}