.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(253, 128, 8 );
    color: #000;
    gap: 10px;
    padding: 20px 5px 5px 5px; 
}

.item1{
    display: flex;
    padding-left: 20px;
}
.item2{
    display: flex;
    font-weight: bold;
    align-items: center;
}

.item3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    min-width: 200px;
    align-items:  center;
}
.icon{
    font-size: 2em;
    cursor: pointer;
}
.icon:hover{
    color: rgb(253, 128, 8);
    background-color: #000;
}

.strong{
    position: relative;
}

.strong::after{
    content: "Teste JP";
    position: absolute;
    background-color: #ffcc33;
    top: -100px;
    left: -100px;
    width: 100px;
    height: 30px;
    color: #2e2e2e;
    font-weight: 600;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;

}
.strong:is(:hover, :focus)::after {
    opacity: 1;
    transform: translateY(70px) translateX(50px);
}