.corpoCadastro{
    border: 10px solid #FD8008;
    box-shadow: 15px 15px 25px rgba(253, 50, 8, 0.5);
    max-height: 65vh;
    padding: 40px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 50px;
    
}

.form{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
}

.error{
    color: red;
    font-style: bold;
}

.label{
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.input{
    display: block;
    width: 1000px;
    padding: 6px 12px;
    font-size: 1em;
    height: 40px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.text{
    display: block;
    width: 1300px;
    padding: 6px 12px;
    font-size: 1em;
    height: 80px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.select{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1em;
    height: 50px;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}


.grupoC{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
}
.grupoR{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
}
.grupoSC{
    display: flex;
    gap: 10px;
    width: 640px;
    flex-direction: column;
    align-content: space-around;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.grupoSR{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.titleGroupS{
    margin-top: -18px;
    margin-left: 100px;
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    background-color: #fff;
    width: 180px;
    padding-left: 20px;
}